<div class="row details">
  <div>
    <img [src]="movie.Poster">
  </div>
  <div class="col-md-6">
    <h3>Título: {{movie.Title}}</h3>
    <p>Año: {{movie.Year}}</p>
    <p>Duración: {{movie.Runtime}}</p>
    <p>Fecha de estreno: {{movie.Released}}</p>
    <p>Género: {{movie.Genre}}</p>
    <p>Director: {{movie.Director}}</p>
    <p>Reseña: {{movie.Plot}}</p>
    <p>
      <span><img src="../../assets/img/corazon.svg"></span>
      <span> {{movie.imdbVotes}} votos</span>
    </p>
    <a routerLink='../..' class="volver">Volver</a>
  </div>
</div>
