.container
    margin-left: auto
    margin-right: auto
    width: 20%
    display: flex
    flex-direction: column


h2
    
    color: rgb(171, 87, 68)
    font-size: 50px
    

p 
    color: rgb(22, 19, 19)

        
    

