.container
    margin-top: 5%
    
    .card_cabeza
    background-color: #D25033 
    font-family: "Lucida Console", Monaco, monospace
    margin-left: auto
    margin-right: auto
img 
    margin-left: auto
    margin-right: auto
input
        margin-top: 30px
        text-align: center
button:hover
    background-color: #D25033
a 
    color:  #D25033 
a:hover 
    font-size: 20px
    text-decoration: none