.first-page
    margin-right: auto
    margin-left: auto  
    width: 50%
.presentacion
    width: 70%
    margin-right: auto
    margin-left: auto
.presentacion_descripcion
    padding-top: 60px
    font-size: 18px
    text-justify: inherit

h1 
    margin-left: 20px
    margin-right: 20px
a 
    color: #D25033    
a:hover
    color: black
    text-decoration: none
.datos
    text-align: center
    font-size: 20px
    margin-top: 80px
    font-family: "Lucida Console", Monaco, monospace
    border: 2px solid red
    border-radius: 1em
    padding: 10px 5px 5px 5px
.datos_tit 
    color:  #D25033    

